@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    .nav-item {
        @apply px-4 py-2 rounded-full text-white text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
        /* @apply px-3 py-2  text-white text-sm font-semibold  hover:text-white transition duration-300 gradient-bottom-border; */
    }

    .hero-ring {
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }

    .about-content-span {
        @apply font-semibold text-white;
    }

    .hollow-ring-sm {
        @apply size-[78px] inset-0 top-24 right-3 mx-auto shadow-[-20px_20px_25px_5px_outset];
    }

    .hollow-ring-md {
        @apply size-[106px] top-32 right-3 mx-auto shadow-[-30px_30px_35px_8px_outset];
    }

    .hollow-ring-lg {
        @apply size-[132px] top-40 left-12 mx-0 shadow-[-40px_40px_45px_12px_outset];
    }
}

@layer utilities {
    .container {
        @apply lg:max-w-5xl;
    }

    .animate-slideInLeft {
        animation: slideInLeft 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .animate-slideInRight {
        animation: slideInRight 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    @keyframes slideInLeft {
        from {
            opacity: 0;
            transform: translateX(-40px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(40px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* .gradient-bottom-border {
        position: relative;
    }
    .gradient-bottom-border::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background: linear-gradient(to right, #6ee7b7, #38bdf8);
        opacity: 0;
        transition: opacity 0.3s;
        border-radius: 9999px;
        pointer-events: none;
    }
    .gradient-bottom-border:hover::after {
        opacity: 1;
    } */
}
